  <!-- // tc.taskList = {
  //   list: [{name: 'sleep', id: 1}, {name: 'wake up', id: 2}]
  // } -->

  <!-- // tc.taskList.list =  [{name: 'sleep', id: 1}, {name: 'wake up', id: 2}] -->

<!-- todoList.html -->
<label>New Task Name</label>
<input ng-model="tc.newTask.taskName">
<button ng-click="tc.addTask()">Add Task</button>
<div ng-repeat="task in tc.taskList.list" ng-class="{complete: task.status, active: !task.status}" class="row col-xs-12">
  <!-- {{task.name}} and the id number is {{task.id}} -->
  <span class="col-xs-6">{{task}} the status is {{task.status}}</span>
  <span class="col-xs-3" ng-hide="task.status">
    <button ng-click="tc.completeTask(task._id)" class="btn btn-primary">Complete</button>
  </span>
  <span class="col-xs-3" ng-show="task.status">
    <button ng-click="tc.uncompleteTask(task._id)" class="btn btn-info">This shouldn't be complete</button>
  </span>
  <span class="col-xs-3">
    <button ng-click="tc.deleteTask(task._id)" class="btn btn-danger">Delete</button>
  </span>
</div>
